@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'LeferiBase';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


